.productContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.col-md-3{
    padding: 0px !important;
}

.productCard{
    width: 250px;
    height: 350px;
    margin: 16px;
}

.productCard .image{
    width: 248px;
    height: 248px;
    /* padding: 3px; */
}

.centerCropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.navbar-brand{
    margin-left: 16px;
}

.cardTitle.productName{
    font-size: small;
}

.loading{
    margin: 16px
}

.card-body{
    padding: 5px !important;
}

.priceTag.listing{
    font-size: small;
}