.productContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 100%;
}

.productCard{
    width: 250px;
    height: 350px;
    margin: 16px;
}

.productCard .image{
    width: 248px;
    height: 248px;
    /* padding: 3px; */
}

.priceTag.listing{
    padding-left:10px;
}

.centerCropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
  }

.navbar-brand{
    margin-left: 16px;
}

.cardTitle.productName{
    font-size: small;
}

.loading{
    margin: 16px
}

.card-body{
    padding: 5px !important;
}

.priceTag.listing{
    font-size: small;
}



.siteNavbar {
  height: 58px;
  z-index: 2;
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 160px;
    z-index: 1;
    top: 0;
    left: -160px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 78px;
    transition: left 0.5s;
  }

  .sidenav.active {
      left: 0;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.listing-content{
    position: relative;
    min-height: 100%;
}

  .listing-left{
    width: 160px;
  }

 





  .categoryName{
      color: white;
  }