#productDetailPage{
    margin-top: 16px;
}

#productDetailPage h1{
    color: rgb(43, 61, 100);
    font-size: 40px;
    padding: 16px 0;
}

.bannerImage{
    width: 100%;
    max-width: 400px;
    margin: 16px;    
}

.toastContainer{
    position: fixed;
    top: 56px;
    right: 80px;
    z-index: 2;
}


.price.details{
    font-size: 35px;
}

.quantity{
    display: inline-block;
}

#root{
    height: 100%;
}


.addtoCart.button{
    padding: 3px 12px !important;
    float: right;
    margin: 10px;
}

.addtoCart{
    display: inline-block;
    justify-content: flex-end;
}


.quantity-input{
    width: 38px;
    height: 28px;
    border: 0;
    text-align: center;
}

.details-quantity{
    padding: 16px 0;
}

