/* .quantity-icon{
    width: 23px;
    height: 28px;
    background: #f5f5f5;
    cursor: pointer;
    transition: all 0.5s ease-out;
    display: inline-block;
    text-align: center;
}

.quantity-input{
    width: 38px;
    height: 28px;
    border: 0;
    text-align: center;
} */


.quantity-input{
  display: inline-block;
  align-items: center;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
  
}

.quantity-input__modifier,
.quantity-input__screen{
  user-select: none;
  outline: none;
}

.quantity-input__modifier {
  padding: .7rem;
  width: 2.5rem;
  font-size: 1rem;
  
  background: #f3f3f3;
  color: #888;
  border: 0 solid #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, .6);
  
  cursor: pointer;
}
.quantity-input__modifier:hover {
    background: darken(#f3f3f3, 10%);
    color: darken(#888, 20%)
}
  
.quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
}

.quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
}


.quantity-input__screen {
  width: 3rem;
  padding: .5rem;
  font-size: 1rem;
  
  border: 0;
  border-top: 0 solid #dbdbdb;
  border-bottom: 0 solid #dbdbdb;
  text-align: center;
}

